.project
.settings
.classpath
target

.idea
*.iml
### Eclipse template

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath
.recommenders
**/out/

# Eclipse Core

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch


# JDT-specific (Eclipse Java Development Tools)

# Java annotation processor (APT)
.factorypath

**/out/**


# STS (Spring Tool Suite)
.springBeans

# Code Recommenders
.recommenders/

*.class

rebel.xml

**/build/**



# Gradle
.gradle
/build
/buildSrc/build
/buildSrc/subprojects/*/build
# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
